.timer {
    font-Size: 48px !important;
    width: 153px;
    height: 89px;
    border-radius: 50px;
    float: right !important;
    color: red;
}
.flex-container {
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
  
  .flex-container > button {
    /* opacity: 30%; */
    justify-self: self-end;
    align-self: center;
    
  }

  .title {
    color: blue;
  }
  /* .flex-container > a {
    grid-column: 1 / span 7;
  } */