:root {
  --sadboysummer: #3380FF;
  --neonGreen: rgb(0, 255, 0);
}

body {
  margin: 0;
  padding: 0;
  color: var(--sadboysummer);
  font-family: sans-serif;
  background: url(images/XO.png) #e6ffc8;
  background-size: 700px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 54px;
  font-family: 'Fascinate Inline', cursive;
  color: indigo;
}

#gameDescription {
  font-size: 20px;
  color: black;
  padding: 10px;
  background-color: #e6ffc8 ;
  border: 3px dotted rgb(0, 119, 30);
}

#timer {
  font-size: 25px;
  color: indigo;
  padding: 10px;
  background-color: #e6ffc8 ;
  border: 3px dotted rgb(0, 119, 30);
}

#rematch {
  font-size: 15px;
  color: var(--sadboysummer);
  background-color: #e6ffc8;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  /* background-color: #e78af7; */
}

#gameboard {
  width: 500px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: var(--sadboysummer);
  background-color: black;
}

.box:hover {
  cursor: pointer;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--sadboysummer);
  color: white;
  border-color: var(--sadboysummer);
  font-size: 18px;
  transition: 200ms transform;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
